button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #ff672f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.singleBookManage {
    width: 300px;
    padding: 5px;
    margin-bottom: 5px;
    border-width: 2px;
    border-radius: 5px;
    background-color: #c1f0ea;
}

.actionIcons {
    display: flex;
}